<div class="container">
  <h1>About user!</h1>
  <p>Ceci est la page about us</p>
  <ul class="container-fluid">
    <li><img style="width: 50px; height:50px; border-radius: 50%;" src="https://78.media.tumblr.com/9cea376c0c8a701bbb316448b6e040f8/tumblr_ofnjs5nNG21uflmebo8_400.png"><a href="about/user">Geraldy</a></li>

  </ul>
</div>
