<div class="container">
<h1>About us!</h1>
<p>Ceci est la page about us</p>

  <ul class="container-fluid">
    <li><img src=""><a href="about/user">Geraldy</a></li>
    <li><img src="">Larry</li>
    <li><img src="">Caroline</li>
    <li><img src="">Alison</li>
    <li><img src="">Thomas</li>
    <li><img src="">Kevin</li>
  </ul>
</div>
