<div class="container">
  <h1>user!</h1>
<p>Ceci est la page users_controller</p>

<form class="" action="/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Ton prenom:
  <input type="text" name="first_name"><br><br>
  Ton nom:
  <input type="text" name="last_name"><br><br>
  <input type="submit" name="Envoyer">
</form>
  <div class="container">
  <ul class="container-fluid">
    <li><img src="">Geraldy</li>
  </ul>
</div>
</div>
