<!DOCTYPE html>
<html>
  <head>
    <title>Intro</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<style media="screen">
  body{
    background-color: #eee;
  }
  nav{
     background-color: #444;
     color: #FFF;
     border-bottom: solid 1px #222;
  }
  .div_master{
    padding-top: 5rem;
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: #f45;
  }
  li{
    list-style: none;
  }
  button{
    background-color: #333;
  }
  button:hover{
    background-color: #A348B2;
  }
  form{
    border: solid 1px #ddd;
    padding: 5px;
    text-align: center;
  }
  .blackm{
    margin: 0;
    padding: 0;
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .blackm li{
    background: rgba(250,250,250,.5);
    border: 1px solid #EEE;
    padding: 15px;
  }
  .blackm img{
    width: 70px;
    height:70px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,.5);
  }

</style>


  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/"><img src="https://www.thehackingproject.org/assets/thp-logo-5f2f06c9444205a88123ca1de74646970e5a1dfb03698d02db33e5e62a60d6cd.png"></a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="container div_master">


    <%= yield %>
    </div>
  </body>

</html>
